.header{
  width: auto;
  height: 10ex;
  margin: 0;
  padding: 0;
}
body{
  margin: 0px;
  padding: 0px;
    background: #000000;

}
.main{
  width: auto;
  height:400px;
  margin: 0px;
  padding: 0px;
}
h1{
  margin: 0px;
  padding: 0px;
}
.head1{
  align-self: center;
  border-style: solid;
  width: 400px;
    background: #FCFDF2;
}
#head{
  text-align: center;
}
#btn{
			color: #ffffff;
			background-color: #000000;
			font-size: 19px;
			border: 1px solid #050505;
			border-radius: 100px;
			padding: 10px 40px;
			letter-spacing: 2px;
			cursor: pointer
		}
	#btn:hover {
			color: #000000;
			background-color: #ffffff;
		}
